.player{
    max-width: 600px;
    margin: 0 auto;
}
.player-box{
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin: 30px auto;
    border-radius: 15px;
}
.player-media{
    position: relative;
}
video#video {
    object-fit: cover !important;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.progress {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}
.bar{
    background-color: slategray;
    border-radius: 8px;
    height: 5px;
     width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    appearance: none;
}
.bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: thistle;
    /* position: relative; */
    box-shadow: 0 0 0 3px white, 0 0 0 4px #ccc;
  }

  .bar:focus::-moz-progress-bar{
    background-color: pink;
  }

  .player-num {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

    .player-tool{
        display: flex;
        justify-content: center;
        gap: 60px;
        margin-top: 40px;
        align-items: center;
    }
    .player-tool > i{
        cursor: pointer;
        font-size: 20px;
    }

    .player-play{
        /* font-size: 30px !important; */
        display: inline-flex;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;    
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }